
.container-pending {
  border: 1px solid black;
  margin: 40px auto;
  display: block;
  width: 20%;
}

.container-team {
  border: 1px solid black;
  display: block;
  width: 60%;
  margin: 40px auto;
  overflow: hidden;
}

.container-team span {
  margin: 0 5px;
}
.team-one {
  border: 1px solid black;
  float: left;
  margin: 25px 15px;
  list-style-type: none;
  padding: 10px;
  
}

.team-two {
  border: 1px solid black;
  float: right;
  margin: 25px 15px;
  list-style-type: none;
  padding: 10px;
 
}







